body {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0;
    background-color: gray;
    width: 100%;
}

:root {
    --containerWidth: 450px;
    --containerHeight: calc(var(--containerWidth) + 100px);
}

#gameContainer {
    position: relative;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: var(--containerWidth);
    height: var(--containerHeight);
}
#storeContainer {
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}

#upgradesContainer {
    display: grid;
    grid-template-rows: 20%;
    grid-auto-rows: 20%;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    gap: 10px;
    width: 60%;
    height: 100%;
    background-color: blue;
    overflow-y: scroll;
}
.upgrade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: gray;
}
.upgradePicture {
    width: 80px;
    height: 80px;
    background-color: green;
}
.upgradeDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 180px;
    height: 60px;
    background-color: purple;
}
.upgradeText {
    font-size: 15px;
    text-align: left;
    width: 80%;
    margin-left: 10px;
}
.upgradeButton {
    width: 15%;
    height: 40%;
    margin-right: 10px;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 15%;
}

.mainButton {
    width: 150px;
    height: 50px;
}
